/node_modules
.env
.next
.next-dev
/uploads
grc-import-report.json
backups/
supplier-import-report.json
agent-import-report.json
/public
newbarcodeIImage
wovenessenceerp.rar
newbarcodeIMage
/newbarcodeIMage


OLD=wovenessenceerp.rar
/OLD=wovenessenceerp.rarOLD=wovenessenceerp.rar
